PORT=3000
NODE_ENV=development

ALPACA_API_KEY=
ALPACA_API_SECRET=
ALPACA_BASE_URL=https://paper-api.alpaca.markets

DATABASE_URL="postgresql://trader:traderpass@localhost:5432/ai_trader"

AI_TRADER_BACKEND_API_KEY=